<% include ./partials/header %>

<div id="container">
	<h1>To-Do List </h1>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Register</button>
    </form>
</div>


<% include ./partials/footer %>